*{
  background-color: #000;  
    padding: 0;
    margin: 0;
}
@media screen and (min-width:767px){
    .screen,.gallery{
        width:100%;
    }
}
.bgtext h1{
    font-size: 55px;
    margin: 10% 0% 0% 0%;
    background-image:url("bgtext.jpg");
    background-position: center;
    background-size: cover;
    background-clip: text;
    -webkit-background-clip:text;
    color:transparent;
    text-align: center;
    font-weight: 50px;
    /*-webkit-box-reflect:below 1px linear-gradient(transparent, #fff);
    box-shadow: 0 0 5px #000,0 0 15px #000, 0 0 25px #000, 0 0 100px #000;*/
}
.clip{
    padding: 50px 0 0 70px;
}
.clip video{
    justify-content: center;
}
.card-front img{
    height: 100%;
    width: 100%;
}
.card-back{
    background-color:#000;
    color: white;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    justify-content: center;
    font-size: 30px;
    transform: rotateY(180deg);
}
.card:hover .card-inner{
    transform: rotateY(180deg);
}
.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card-front{
    background-color: #6A2C70;
    color:#fff;
    display: flex;
    align-items: center;
    border: 4px solid white;
    border-radius: 10px;
    justify-content: center;
    font-size: 30px;
    transform: rotateY(0deg);
}
.card{
    color:#f1a8f8;
    width: 300px;
    height: 200px;
    perspective: 1000px;
}
.card-inner{
    position: relative;
    width: 100%;
    height: 100%; 
    transform-style: preserve-3d;
    transition:transform 1s ;
}
.space{
    padding: 20px 0 0 20px;
}
.screen{
    padding: 10px 0 0 0;
}
.shayari p{
    color: white;
    font-size: 40px;
    text-align: center;
}
.screen1{
    padding: 50px 0 0 0;
}
.fight img{
    width: 100%;
    border: 1px solid white;
}
.nicknames ul{
    list-style: none;
    color: white;
    padding-top: 100px;
    font-size: 30px;
    padding-left: 50px;
}
.png img{
    width: 70%;
    height: 70%;

}
.png img:hover{
    filter: drop-shadow(20px 7px 5px white);
}
.bgimg img{
    height: 60%;
    width: 70%;
    filter: grayscale(100%);
}
.bgimg img:hover{
    filter: grayscale(0%);
    border-radius: 20px;
}
.bgimg{
    text-align: center;
    position:relative;
    overflow:hidden;
    padding: 10px 0 10px 50px;
}
.details{
    position:absolute;
    width:100%;
    text-align:center;
    padding:10px 0;
    background:linear-gradient(to bottom,transparent,black);
    color:white;
    font-weight:bold;
    height:30%;
    transition:all 2s;
}
.div2{
  rotate: -12deg;
}
.book h2{
  
  text-align: center;
  font-size: 1rem;
  color:#fff;
  font-weight: 600;
}

.book {
  position: relative;
  border-radius: 10px;
  width: 220px;
  height: 300px;
  background-color: rgb(31, 16, 16);
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  -webkit-transform: preserve-3d;
  -ms-transform: preserve-3d;
  transform: preserve-3d;
  -webkit-perspective: 2000px;
  perspective: 2000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #000;
  margin-left: 50px;
  border: 2px solid white;
}

.cover {

  top: 0;
  position: absolute;
  background-color:hsl(0, 95%, 50%);
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform-origin: 0;
  -ms-transform-origin: 0;
  transform-origin: 0;
  -webkit-box-shadow: 1px 1px 12px #000;
  box-shadow: 1px 1px 12px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.cover p{
    color: #fff;
}
.book:hover .cover {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: rotatey(-160deg);
  -ms-transform: rotatey(-160deg);
  transform: rotatey(-160deg);
}

p {
  font-size: 40px;
  font-weight: bolder;
}
#h2{
  color:pink;
}
.heart{
    position: absolute;
    margin: 100px 0 50px 0;
    left: 50%;
    transform: translate(-50%,-50%);
}
.heart i{
    color: #000;
    font-size:100px;
    animation: beat 1s infinite;
    text-shadow: 0 0 10px red, 0 0 90px red, 0 0 120px red;
}
@keyframes beat{
    0%{
        transform: scale(1);
    }
    20%{
        transform: scale(1.15);
    }
    40%{
        transform: scale(1.4);
    }
}
.screen2{
    padding: 150px 0;
}
.card1-front img{
    height: 100%;
    width: 100%;
}
.card1-back{
    background-color:#000;
    color: white;
    display: flex;
    align-items: center;
    border: 2px solid white;
    border-radius: 10px;
    justify-content: center;
    font-size: 30px;
    transform: rotateY(180deg);
}
.card1-back p{
    padding-left: 40px;
}
.card1:hover .card1-inner{
    transform: rotateY(180deg);
}
.card1-front, .card1-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}
.card1-front{
    background-color: #6A2C70;
    color:#fff;
    display: flex;
    align-items: center;
    border: 4px solid white;
    border-radius: 10px;
    justify-content: center;
    font-size: 30px;
    transform: rotateY(0deg);
}
.card1{
    color:#f1a8f8;
    width: 550px;
    height: 500px;
    perspective: 1000px;
}
.card1-inner{
    position: relative;
    width: 100%;
    height: 100%; 
    transform-style: preserve-3d;
    transition:transform 1s ;
}
.space1{
    padding:50px 0 0 0px;
}
.wave{
    position: relative;
    padding: 30px 0;

}
.wave span{
    color: white;
    position: relative;
    display: inline-block;
    font-size: 2rem;
    text-transform: uppercase;
    animation: waviy 10s infinite;
    animation-delay: calc(.1s * var(--i));
}
@keyframes waviy{
    0%,
    40%,
    100%{
        transform: translateY(0);
    }
    20%{
        transform: translateY(-20px);
    }
}
.box{
    padding:30px 0 ;
}
.box input[type=text]{
    width: 200px;
    height: 30px;
    color:red;
    border: none;
    border-bottom: solid 1px rgba(255, 252, 252, 0.867);
    background:#FFF;
    margin-left: 40px;
    padding-top: -10px;
}
.box input[type=text]::placeholder{
    padding-left: 10px;
}
.box input[type=submit]{
    width: 200px;
    height: 30px;
    color:red;
    border: none;
    border-bottom: solid 1px rgba(255, 252, 252, 0.867);
    background:#FFF;
    margin-left: 40px;
    padding-top: -10px;
}
.box input{
    margin-top: 10px;
}
.register .nav-tabs .nav-link:hover{
    border: none;
}
.text-align{
    margin-top: -3%;
    margin-bottom: -9%;

    padding: 10%;
    margin-left: 30%;
}
.form-new{
    margin-right: 22%;
    margin-left: 20%;
}
.register-heading{
    margin-left: 21%;
    margin-bottom: 10%;
    color: yellow;
}
.register-heading h1{
    margin-left: 21%;
    margin-bottom: 10%;
}
.register{
    padding: 3%;
    border-radius: 2.5rem;
}
.btnSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: red;
    border: none;
    cursor: pointer;
    margin-right: 6%;

    margin-top: 4%;
}
.form-group button{
    background-color: pink;
}
.gallery{
    display: flex;
    width: 30%;
    height: 300px;
    gap: 5px;
    margin-left: 100px;
}
.gallery img{
    width: 15%;
    height: 300px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 2px solid white;
    border-radius: 5px;
    transition: all ease 0.5s;
}
.gallery img:hover{
    width: 100%;
    scale: 1.1;
}